*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff9a5;
    text-align: center;
}
#heading{
    font-size: 30px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    height: 60vmin;
    width: 60vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #B48B7D;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #B48B7D;
    color: black;
    border-radius: 1rem;
    border: 0;
}
#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #B48B7D;
    color: black;
    border-radius: 1rem;
    border: 0;
}
#msg{
    font-size: 5vmin;
    color: black;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
